* {
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1f;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Removes scroll bars */
}

.login.container {
    margin: 160px;
}

.songs.container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin: 5px 5px 10px 5px;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
    margin: 5px;
}

.network {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.network .node {
    fill: #1DB954;
}
