$light-green: #15d85e;
$green: #19b954;
$blue: #4686d5;
$font: #fff;
$font-pale: #a0a0a0;
$dark-grey: #282828; 
$black: #181818;

* {
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

body {
    background: $black;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden; /* Removes scroll bars */
}

.login {
    margin: 200px;
}

.container {
    height: 100vh;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
}

.player {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.songs {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
}

#nprogress {
  .bar {
      background: $green;
  }
  .peg {
    box-shadow: 0 0 10px $green, 0 0 5px $green;
  }
}