* {
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1f;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden; /* Removes scroll bars */
}

.login {
    margin: 200px;
}

.container {
    height: 100vh;
    display: flex;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin: 5px 5px 10px 5px;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
    margin: 5px;
}

.player {
    width: 27%;
    height: 100%;
}

.network {
    width: 100%;
    height: 100%;
}

.network .node {
    fill: #1DB954;
}

.songs {
    position: absolute;
    bottom: 0;
    left: 0;
}
