@import '../node_modules/bootstrap/scss/bootstrap';
$green: #1DB954;
$hover-green: #4bdf80;
$blue: #4686d5;
$font: #fff;
$font-pale: #a0a0a0;
$dark-grey: #282828; 
$black: #181818;


* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $font;
    margin: 0;
    padding: 0;
}

// Make vertical fullsize
.app, #root, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    background: $black;
    height: 100%;
    min-height: 100%;
    overflow: hidden; /* Removes scroll bars */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .title {
//     font-size: 46px;
//     font-weight: 500;
//     margin-bottom: 18px;
// }

// .subtitle {
//     font-size: 36px;
//     font-weight: 400;
// }

// .text {
//     font-size: 18px;
//     font-weight: 300;
// }

.player {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.songs {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
}

.button {
    color: $font;
    background-color: $green;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 500px;
    padding: 10px 40px 10px;
    font-size: 16px;
    display: inline-block;
    // margin: 32px 0px;
}

#nprogress {
  .bar {
    background: $green;
    box-shadow: none;
  }
  .peg {
    box-shadow: none;
  }
}